*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(4, 80, 76);
  background: linear-gradient(
    90deg,
    rgba(4, 80, 76, 1) 0%,
    rgb(87, 196, 158) 100%
  );
}

.calculator{
    box-shadow: -7px 14px 17px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -7px 14px 17px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 14px 17px -7px rgba(0, 0, 0, 0.75);
}